<nav>

    <div class="search">
        <form action="/search" method="post">
            <img src="/images/search.svg" class="magnify">
            <input type="text" id="search" name="name" required>
            <input type="submit" class="button">
        </form>
        
    </div>
    
    <a href="/profile"> <img src="/images/profile.svg" class="profile"></a>

</nav>
<side-nav>
    
    <img src="/images/log.png" class="logo">
    <a href="/"><img src="/images/dashboard.svg" class="side-icons active-icon"></a>
    <a href="/list"><img src="/images/news.svg" class="side-icons"></a>
    <a href="/recipes"> <img src="/images/music-album.svg" class="side-icons"></a>
     <a href="/"> <img src="/images/star.svg" class="side-icons"></a>
 </side-nav>