<nav>

    <div class="search">
        <form action="/search" method="post">
            <img src="/images/search.svg" class="magnify">
            <input type="text" id="search" name="name" required>
            <input type="submit" class="button">
        </form>
        
    </div>
    
    <a href="/profile"> <img src="/images/profile.svg" class="profile"></a>

</nav>
<side-nav>
    
    <img src="/images/log.png" class="logo">
    <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512" height="512">
            <g>
                <path d="M85.333,0h64c47.128,0,85.333,38.205,85.333,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   C38.205,234.667,0,196.462,0,149.333v-64C0,38.205,38.205,0,85.333,0z"/>
                <path d="M362.667,0h64C473.795,0,512,38.205,512,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   c-47.128,0-85.333-38.205-85.333-85.333v-64C277.333,38.205,315.538,0,362.667,0z"/>
                <path d="M85.333,277.333h64c47.128,0,85.333,38.205,85.333,85.333v64c0,47.128-38.205,85.333-85.333,85.333h-64   C38.205,512,0,473.795,0,426.667v-64C0,315.538,38.205,277.333,85.333,277.333z"/>
                <path d="M362.667,277.333h64c47.128,0,85.333,38.205,85.333,85.333v64C512,473.795,473.795,512,426.667,512h-64   c-47.128,0-85.333-38.205-85.333-85.333v-64C277.333,315.538,315.538,277.333,362.667,277.333z"/>
            </g>
            
            </svg>
    </a>
    <a href="/list"><svg clip-rule="evenodd" fill-rule="evenodd" height="512" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Icon"><path d="m21.75 5v14c0 2.071-1.679 3.75-3.75 3.75h-12c-2.071 0-3.75-1.679-3.75-3.75v-14c0-2.071 1.679-3.75 3.75-3.75h12c2.071 0 3.75 1.679 3.75 3.75zm-1.5 0c0-1.243-1.007-2.25-2.25-2.25h-12c-1.243 0-2.25 1.007-2.25 2.25v14c0 1.243 1.007 2.25 2.25 2.25h12c1.243 0 2.25-1.007 2.25-2.25z"/><path d="m12 5.25c.414 0 .75.336.75.75s-.336.75-.75.75h-5c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"/><path d="m17 9.25c.414 0 .75.336.75.75s-.336.75-.75.75h-10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"/><path d="m17 13.25c.414 0 .75.336.75.75s-.336.75-.75.75h-10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"/><path d="m17 17.25c.414 0 .75.336.75.75s-.336.75-.75.75h-10c-.414 0-.75-.336-.75-.75s.336-.75.75-.75z"/></g></svg></a>
    <a href="/recipes"> <svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Layer_35" data-name="Layer 35"><path d="m6 2h-2a2 2 0 0 0 -2 2v24a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-24a2 2 0 0 0 -2-2zm-2 26v-24h2v24zm10-26h-2a2 2 0 0 0 -2 2v24a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-24a2 2 0 0 0 -2-2zm-2 26v-24h2v24zm18-1.19-6.21-23.18a2 2 0 0 0 -2.45-1.41l-1.93.52a2 2 0 0 0 -1.41 2.45l6.21 23.18a2 2 0 0 0 1.93 1.48 1.91 1.91 0 0 0 .52-.07l1.93-.52a2 2 0 0 0 1.41-2.45zm-3.86 1-6.21-23.14 1.93-.52 6.21 23.18z"/></g></svg></a>
    <a href="/blog"><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="M12,17a4,4,0,1,1,4-4A4,4,0,0,1,12,17Zm6,4a3,3,0,0,0-3-3H9a3,3,0,0,0-3,3v3H18ZM18,8a4,4,0,1,1,4-4A4,4,0,0,1,18,8ZM6,8a4,4,0,1,1,4-4A4,4,0,0,1,6,8Zm0,5A5.968,5.968,0,0,1,7.537,9H3a3,3,0,0,0-3,3v3H6.349A5.971,5.971,0,0,1,6,13Zm11.651,2H24V12a3,3,0,0,0-3-3H16.463a5.952,5.952,0,0,1,1.188,6Z"/></svg></a>
    <a href="/aboutUs"> <img src="/images/star.svg" class="side-icons"></a>
 </side-nav>