<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <article>
        <div class="horizontal">
            <div class="vertical dashboard">
                <p>Hello <%=userData.User_name%>!!</p>
                <h1>Dashboard:</h1>
                <div class="slideshow">
                    <div class="round-button">
                        <div class="rbutton">

                        </div>
                        <div class="rbutton">

                        </div>
                        <div class="rbutton">

                        </div>
                    </div>
                    <div class="note-card">
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                        <div class="note">

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="vertical">
                <div class="card">
                    <h1>Food history</h1>
                    <p>recently added</p>
                </div>
            </div>
            
            
              
              
        </div>
        
        <div class="chart">
            <canvas id="myChart"><h1>hello</h1></canvas>
          </div>
    </article>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: 'Calories consumed',
        data: [100, 2000],
        borderWidth: 1
      }],
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)'
    ],
    hoverOffset: 4
    },
    options: {
    
    }
  });
</script>
<script>
    let chart = document.getElementById('chart');
   chart.value = 50;
</script>
</html>