<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
</head>
<body>
    <nav>

        <div class="search">
            <form action="/search" method="post">
                <img src="/images/search.svg" class="magnify">
                <input type="text" id="search" name="name">
                <input type="submit" class="button">
            </form>
            
        </div>
        
      <a href="/profile"> <img src="/images/profile.svg" class="profile"></a>
  
    </nav>
    <side-nav>
    
       <img src="/images/log.png" class="logo">
       <a href="/"><img src="/images/dashboard.svg" class="side-icons active-icon"></a>
       <a href="/list"><img src="/images/news.svg" class="side-icons"></a>
       <a href="/"> <img src="/images/music-album.svg" class="side-icons"></a>
        <a href="/"> <img src="/images/star.svg" class="side-icons"></a>
    </side-nav>
    <article>
        <h1>User info:</h1>
        <div class="card">
            <div class="holder">
                <img src="/images/profile.svg" class="profile">
            </div>
            <div class="vertical">
                <h1>Name: <%=userData.User_name%></h1>
            <h2>Height: <%=userData.User_height%> ft</h2>
            <h2>weight: <%=userData.User_weight%> Lb</h2>
            <h2>Target Calories: <%=userData.User_target_calories%></h2>
            <form action="/logOut" method="post">
                <input type="submit" value="LogOut" class="add">
            </form>
            </div>
            

        </div>
    </article>
</body>

</html>